<!DOCTYPE html>
<html>
<head>
  <%- include('./style/normal.html') %>
</head>
<body>
  <div class="email-container">
      <div class="header">
          <h1><%= header_message %></h1>
      </div>
       <div class="message">
          <p>Hello,</p>
          <p>We received a request to reset the password for your account. If you did not make this request, please ignore this email. Otherwise, you can reset your password by clicking the button below.</p>
          <a href="<%= btn_link %>" class="button"><%= btn_message %></a>
      </div>
      <div class="footer">
          <p>&copy; <%= company_name %>, All Rights Reserved</p>
      </div>
  </div>
</body>
</html>
